@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Candara';
    src: url('http://accounting.test/fonts/candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
  }

  @layer base {
    body {
      @apply font-candara subpixel-antialiased antialiased text-lg;
    }
  }

.dropdown-parent:hover + .dropdown, .dropdown-parent:focus + .dropdown, .dropdown:hover {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    visibility: hidden;
    opacity: 0;
}

h1 {
    @apply text-4xl font-bold my-5;
}

.link {
    @apply underline text-lg text-teal-600 hover:text-teal-700 rounded-md focus:outline-none transition-all;
}

.btn {
    @apply cursor-pointer py-3 px-6 transition-all text-lg no-underline hover:no-underline focus:no-underline active:no-underline opacity-90 hover:opacity-100 shadow hover:shadow-lg rounded-md;
}


.btn-sm {
    @apply py-1.5 px-6 transition-all text-gray-700 no-underline hover:no-underline focus:no-underline active:no-underline hover:opacity-90 hover:shadow-md rounded-md;
}

.btn-micro {
    @apply py-1 px-2 text-xs transition-all text-gray-700 no-underline hover:no-underline focus:no-underline active:no-underline hover:opacity-90 hover:shadow-md rounded-sm;
}

.btn-active {
    @apply bg-gradient-to-r from-teal-600 to-cyan-700 text-white font-bold;
}

.btn-primary {
    @apply bg-gradient-to-r from-amber-600 to-orange-700  text-white font-bold;
}

.btn-secondary {
    @apply bg-gradient-to-l from-gray-500 to-gray-400 text-white font-bold text-center;
}

.btn-danger {
    @apply bg-gradient-to-l from-[#ED1520] to-[#F1A515] text-white font-bold;
}

.card-title {
    @apply text-2xl font-bold py-3 text-gray-700 relative;
}
.card-title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 3px;
    width: 100px;
    @apply bg-gradient-to-r from-teal-600 to-cyan-700;
}

.textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-teal-600 focus:border-teal-600 text-lg resize-none;
}

.select {
    @apply block py-2.5 px-0 w-full text-lg text-teal-600 bg-transparent border-0 border-b-2 border-teal-600 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200;
}

.tw-input {
    @apply border-gray-300 focus:border-teal-600 focus:ring-teal-600 rounded-md shadow-sm w-full;
}

.badge {
    @apply inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-lg font-bold text-white bg-gray-600;
}

.badge-active {
    @apply bg-gradient-to-r from-teal-600 to-cyan-700 text-white;
}

.badge-danger {
    @apply bg-gradient-to-l from-[#ED1520] to-[#F1A515] text-white;
}

.prose {
    font-family: 'Times New Roman', Times, serif;
    @apply text-2xl;
}

.prose.prose-editor {
    @apply max-w-[100%];
}

.prose table {
    @apply w-full border-collapse border border-gray-200;
  }
  
  .prose th,
  .prose td {
    @apply border border-gray-200 py-2 px-4;
  }

  .prose td>p, .prose th>p {
    @apply m-0;
  }
 

  /* ANIMATIONS */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

